{% extends 'patient/home.html' %}
{% block content %}
<div class="row signuprow">
    <div class="col-4"></div>
    <div class="col-4 signupcol">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Full Name</label>
                <input type="text" class="form-control" name="name" >
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email">
              <div id="emailHelp" class="form-text" style="color: aliceblue;">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Create Password</label>
                <input type="password" class="form-control" name="password" >
              </div>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" >
            </div>
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}